<header class="conteudo topo">
  <img src="../assets/logo.svg" />
</header>

<div class="conteudo banner">
  <div class="conteudo banner-title">
    <h1>CONHEÇA O INSTITUTO TRANSIRE</h1>
  </div>
</div>

<div id="sobre" class="conteudo sobre">
  <h1>O QUE NÓS FAZEMOS</h1>

  <div class="conteudo sobre-content">
    <div class="conteudo sobre-content-title">
      <h1>SOFTWARE</h1>
    </div>

    <img src="../assets/software.jpg">
    <div class="conteudo sobre-content-text">
      <p>Utilizando-se de modernas plataformas de desenvolvimento para gerar pesquisas e produzir 
        Softwares seguindo os mais altos padrões de qualidade.</p>

      <p>Atualmente pesquisamos, prototipamos 
        e desenvolvemos softwares para os mais variados segmentos de negócios, destacando-se Indústria 
        4.0 e e-Commerce.</p>

      <p>As tecnologias mais avançadas como as aplicadas em IoT, Mobile, BI 
        (Business Intelligence) e Web são expertises do nosso time.</p>
    </div>
  </div>

  <div class="conteudo sobre-content">
    <div class="conteudo sobre-content-title">
      <h1>HARDWARE</h1>
    </div>

    <img src="../assets/hardware.jpg">
    <div class="conteudo sobre-content-text">
      <p>O setor de Hardware é responsável pela concepção e desenvolvimento de projetos de 
        circuitos eletrônicos digitais e analógicos abrangendo as seguintes áreas tecnológicas:</p>

      <p>Eletrônicos de consumo, automação industrial, sistemas embarcados, hardware reconfigurável 
        (FPGA), sistemas elétricos para fontes de energias renováveis, IoT, Indústria 4.0 
        e telecomunicações.</p>

      <p>Possuímos laboratório com equipamentos de testes e medições de última geração e um fluxo 
        completo com máquinas dedicadas à confecção e prototipagem de placas de circuito impresso.</p>
    </div>
  </div>

  <div class="conteudo sobre-content">
    <div class="conteudo sobre-content-title">
      <h1>BIOLOGIA</h1>
    </div>

    <img src="../assets/biologia.jpg">
    <div class="conteudo sobre-content-text">
      <p>O laboratório de Biologia tem como objetivo desenvolver pesquisas relacionadas à nutrição, 
        reprodução, larvicultura, sanidade de peixes nativos e aproveitamento de resíduos do 
        beneficiamento de pescado.</p>

      <p>Desenvolvemos novos fitoterápicos destinados ao tratamento das principais doenças e 
        profilaxia de peixes cultivados, contando com uma estrutura robusta, moderna e da mais 
        alta tecnologia.</p>
    </div>
  </div>

  <div class="conteudo sobre-content">
    <div class="conteudo sobre-content-title">
      <h1>QUÍMICA</h1>
    </div>

    <img src="../assets/quimica.jpg">
    <div class="conteudo sobre-content-text">
      <p>Química de Produtos Naturais</p>

      <p>A química de produtos naturais é a área da química responsável por investigar, isolar e caracterizar biomoléculas presentes em plantas, animais e micro-organismo e que podem ser utilizadas para nas mais variadas áreas. </p>
    
      <p>Nossos projetos têm como foco a busca por bioativos, utilizando técnicas de cromatografia moderna para aplicação nas áreas de:</p>
      
      <ul>
        <li>Fitocosméticos</li>
        <li>Fitoterápicos</li>
        <li>Alimentos Funcionais</li>
      </ul>
    </div>
  </div>
</div>

<div id="fale-conosco" class="conteudo fale-conosco">
  <h1>FALE CONOSCO</h1>

  <div class="conteudo fale-conosco-content">
    <p>Entre em contato conosco através de um dos nossos canais de comunicação disponível.</p>

    <h2>ENDEREÇO</h2>
    <p class="fale-conosco-text">Rua Anhandui, 520, Flores - Galpão 7F condomínio Anhanduí</p>

    <h2>TELEFONE</h2>
    <p class="fale-conosco-text">+55 92 3030-2214</p>
  </div>
</div>

<footer class="conteudo footer">
  <img src="../assets/logo_footer.svg">

  <div class="conteudo menu">
    <h1>INSTITUTO</h1>

    <ul>
      <li><a href="#sobre">O QUE NÓS FAZEMOS</a></li>
      <li><a href="#fale-conosco">FALE CONOSCO</a></li>
    </ul>
  </div>

  <div class="conteudo rede-sociais">
    <h1>REDE SOCIAIS</h1>

    <a href="https://www.facebook.com/institutotransire/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/institutotransire/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/itbam/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/channel/UCRZFox4hy0xNgnTTJSZaGdA/" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>

  <p>Instituto Transire &copy; Todos os direitos reservados</p>
</footer>